<center>
  <h1>Welcome <%= current_user.humanize_username %>!</h1>

<div class="movies-nav">
  <div class="top-rated">
    <%= button_to 'Find Top Rated Movies', movies_path, method: :get %>
  </div>
  <div class="search_movie_form">
    <%= render partial: './search_form' %>
  </div>
</div>

<div class="results">
  <table>
    <% @movies.each do |movie| %>
      <div class="movie">
        <tr>
          <td class='title'><%= link_to movie[:title], movie_path(id: movie[:id]) %></td>
          <td class='rating'><%= movie[:vote_average] %></td>
        </tr>
      </div>
    <% end %>
  </table>
</div>

</center>
