<center>
<h1>Welcome to Viewing Party</h1>

<p>Please Register for an Account</p>

<div id="registration">
  <%= form_with url: "/registration", local: true do |form| %>
    <%= form.text_field :email, placeholder: "Email", required: true %><br/><br>
    <%= form.password_field :password, placeholder: "Password", required: true %><br/><br>
    <%= form.password_field :password_confirm, placeholder: "Password Confirmation", required: true %><br/><br>
    <%= form.submit "Register" %><br/><br>
  <% end %>
</div>

<%= link_to "Already Registered? Log in Here", '/' %>.
</center>
