<center>
  <h1>Welcome <%= current_user.humanize_username %>!</h1>
  <%= button_to 'Discover Movies', discover_index_path, method: :get %>
</center>

<div class='friends'>
  <%= render partial: 'friends' %>
</div>

<section class='parties'>
  <h2>Viewing Parties</h2><hr>
  <container class="all_cards">
    <% if @hosted_parties.count > 0 || @invited_parties.count > 0 %>
        <% if @hosted_parties.count > 0 %>
          <% @hosted_parties.each do |party| %>
            <div class="party_card">
              <div id=party-<%=party.id%>>
                <h3><%= party.movie_title %></h3>
                <%= party.date_formatted %><br/>
                <%= party.time_formatted %><br/><br/>
                <strong>Hosting</strong>
              </div>
            </div>
            <% end %>
        <% end %>

        <% if @invited_parties.count > 0 %>
          <% @invited_parties.each do |party| %>
            <div class="party_card">
              <div id=party-<%=party.id%>>
                <h3><%= party.movie_title %></h3>
                <%= party.date_formatted %><br />
                <%= party.time_formatted %><br /><br />
                <strong>Invited</strong>
              </div>
            </div>
          <% end %>
        <% end %>
    <% else %>
      <center><h4>You have no parties</h4></center>
    <% end %>
  </container>
</section>
